{% for comment in comments %}
<div class="comment">
    
    <div class = "row my-2">
    <div class="col-md-1">
        <img class="rounded-circle mx-auto d-block w-75 h-75 userdp" src = "{{comment.author.userprofile.dp.url}}">
    </div>
          <div class="col-md-11" style="padding-left:0px">  
              <div class="col-md-11">
            <strong><a href="{% url 'profile' username=comment.author.get_username %}">{{ comment.author }}</a></strong>
        </b> <span class="badge badge-secondary ">{{ comment.created_date }}</span>
        <div>
            {{ comment.text|linebreaks }}
        </div>
        </div>
        <br>    
    </div>
    </div>
        

    {% if user.is_authenticated %}
    <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.id}}" aria-expanded="false" aria-controls="replyBox{{comment.id}}">
        Reply
    </button>
    <div class="collapse" id="replyBox{{comment.id}}">
        <div class="card card-body my-2">
            <form action="post-comment" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comment">Post a reply </label>
                    <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                    <input type="hidden" name="parent_id" value="{{comment.id}}">
                </div>
                
                <button type="submit" class="btn btn-sm btn-primary">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="replies my-2 ">
        {% if comment.replies.count > 0 %}
        {% for reply in comment.replies.all %}
        <div class="row my-2">
            
            <div class="col-md-12">
                <div class="col-md-12 class = "reply">
                    {% include 'blog/comments.html' with comments=comment.replies.all flag=True user=user csrf_token=csrf_token only %}
                </div>
                <br>
            </div>
        </div>
        {% endfor %}
        {% endif %}
     </div>


</div>

{% empty %}
<p>No comments here yet :(</p>
{% endfor %}