{% extends 'blog/base.html' %}

{% block content %}
<div class="row justify-content-center">
    
        <h2 class="display-4">Latest Posts!</h2>
    

</div>

{% for post in posts %}
<article class="post">
    <time class="date">
        {{ post.created_date }}
    </time>
    <h2><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
    <h6><a href = {% url 'profile' username=post.author %} class="author">{{post.author}}</a></h6>
    <p>{{ post.text|linebreaksbr }}</p>
    <p class="comments">Comments: {{post.comments.count}}</p> 
</article>
{% endfor %}
{% endblock %}  