{% extends 'blog/base.html' %}

{% block content %}

<article class="post">
    {% if user == post.author %}
    <aside class="actions">
        <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
            {% include './icons/pencil-fill.svg' %}
        </a>
        <a class="btn btn-default" href="{% url 'post_remove' slug=post.slug %}">
            {% include './icons/trash.svg' %}
            <span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    </aside>
    {% if post.published_date %}
    <time class="date">
        {{post.published_date}}
    </time>
    {% endif %}
    <h2>{{post.title}}</h2>
    <p>{{ post.text|linebreaksbr }}</p>
    <div>
        <a class="btn btn-default" href="{% url 'get_note' slug=post.slug %}">Show Note</a>
    </div>
    {% for comment in comments %}

    <div class="comment">
        <div class="date">
            {{ comment.created_date }}

        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
        {% if user.is_authenticated %}
        <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{comment.id}}" aria-expanded="false" aria-controls="replyBox{{comment.id}}">
            Reply
        </button>
        <div class="collapse" id="replyBox{{comment.id}}">
            <div class="card card-body my-2">
                <form action="post-comment" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="comment">Post a reply </label>
                        <input type="text" class="form-control" name="comment" placeholder="Enter comment here">
                        <input type="hidden" name="parent_id" value="{{comment.id}}">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {% endif %}
        <div class="replies my-2 ">
            {% for reply in comment.replies.all %}
            <div class="row my-2">
                
                <div class="col-md-11">
                    <div class="col-md-11 ">
                        <b> {{reply.author}} </b> <span class="badge badge-secondary ">{{reply.created_date}}</span>
                        <div>{{reply.text}}</div>
                    </div>
                    <br>
                </div>
            </div>
            {% endfor %}
         </div>


    </div>

    {% empty %}
    <p>No comments here yet :(</p>
    {% endfor %}
    <div>
        {% if user.is_authenticated %}
        <form action="post-comment" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Enter comment here">

            <input type="hidden" name="parent_id" value="">

            <input type="submit" value="Comment">
        </form>
        {% endif %}
    </div>
    {% endblock %}