{% extends 'blog/base.html' %}

{% block content %}

<article class="post">
    
    {% if user == post.author %}
    <aside class="actions">
        <a class="btn btn-default" href="{% url 'post_edit' slug=post.slug %}">
            {% include './icons/pencil-fill.svg' %}
        </a>
        <a class="btn btn-default" href="{% url 'post_remove' slug=post.slug %}">
            {% include './icons/trash.svg' %}
            <span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
    </aside>
    
    <time class="date">
        {{post.created_date}}
    </time>
    
    <h2 class="display-4">{{post.title}}</h2>
    
    <p>Description: {{ post.text|linebreaksbr }}</p>
    <div style="display:flex">
        {% for tag in post.tags.all %}
        <a href="{% url 'get_tagged' slug=tag.slug %}" class="mr-2 mb-2 badge badge-info"><h6>{{ tag }}</h6></a>
        {% endfor %}
    </div>
    <div class="note-link">
        <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#notebox" aria-expanded="false" aria-controls="replyBox{{comment.id}}">
            Show Note
        </button>
        <div>
        {% if request.user.is_authenticated %} 
        {% if request.user != post.author %} 
        {% if flag == 2 %}
        <a href="{% url 'vote' slug=post.slug value=2 %}" class = "btn btn-danger" style="float: right;">Downvote</a>
        {% else %}
        <a href="{% url 'vote' slug=post.slug value=2 %}" class = "btn btn-outline-danger" style="float: right;">Downvote</a>
        {% endif %} 
        <h4 class = "display-5" style="float: right;">{{upvotes}}</h4>
        {% if flag == 1 %}
        <a href="{% url 'vote' slug=post.slug value=1 %}" class = "btn btn-success" style="float: right;">Upvote</a>
        {% else %}
        <a href="{% url 'vote' slug=post.slug value=1 %}" class = "btn btn-outline-success" style="float: right;">Upvote</a>
        {% endif %}
        {% else %} 
        <h4 class = "display-5" style="float: right;">Upvotes: {{upvotes}} Downvotes: {{downvotes}}</h4>
        {% endif%} 
        {% else %}
        <h4 class = "display-5" style="float: right;">Upvotes: {{upvotes}}</h4>
        {% endif %}
        
        <iframe id="notebox" height=75% width="50%" src="{{post.note.url}}">
        </iframe>
        
        
    </div>
    </div>
    
    <h5 class="display-5">Comments</h5>
    
    <div>
        {% if user.is_authenticated %}
        <form action="post-comment" method="POST">
            {% csrf_token %}
            <input type="text" name="comment" placeholder="Enter comment here">
    
            <input type="hidden" name="parent_id" value="">
    
            <input type="submit" value="Comment" class="btn btn-sm btn-primary">
        </form>
        {% endif %}
    </div>
    {% include 'blog/comments.html' with comments=comments flag=false user=user csrf_token=csrf_token only %}

    
    {% endblock %}

    